<!DOCTYPE html>
<html>
<head>
    <title>Songs</title>
</head>
<body>

<p><%= songs.length %> songs found.</p>

<ul>
    <% songs.forEach(function(song) { %>
        <li><%= song.title %> (<%= song.playCount %>)</li>
    <% }); %>
</ul>

</body>
</html>